@media only screen and (max-width: 600px) {
  .grid-container {

  }

  #header-text {
    padding: 60px 20px;
  }

  .callout {
  	margin: 20px 0px;
  }

  #section {};

  .grid-x #details {
  	margin: 0;
  	padding: 0px 20px!important;
  }

  #footer {
  	height: 130px;
  	padding: 20px;
  };

  #footer h5 a {
  	font-size: .75rem;	
  }

  .update-date {
  	float: left;
  }

}